

.logo{
    color:rgb(9, 2, 53);
    font-family: "Poppins", sans-serif;
    padding-top: 15px;
    font-size: 75px;
    font-weight: bold;
    padding: 20px 0 0 0;

}

.intro{
    padding: 0 0 0 10px;
}

/*containers*/

body{
    padding: 0;
    margin: 0;
}

.navbar-nav{
    width: 20%;
    float: right;
    position: relative;

}


.navbar{
    background-color: #dd820a;   
    margin-bottom: 0;
    border: 0;
    width: 100%;
    height: 90px;
    font-weight: bold;
    display: flex;
  
}

nav ul {
    float: right;
    position: relative;
}

.intro{
    color: rgb(9, 2, 53);
    
}

.header{
    
    font-family: "poppins", sans-serif;
    color:#dd820a;
    height: 500px;
    width: 100%;
        background: url(../images/desert-wallpaper-4k-1280x960.jpeg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position: top;
        
        margin: 0;
        padding: 0;
}   

.background{
    size: cover;
    overflow: visible;

}

hr{
    margin: 0;
    padding: 0;
    border:0;
}

.hr-1{
    color: black;
    height: 3px;
    background-color: rgba(0, 0, 0, 0.773);
}

span{
    margin: 0;
    padding: 0;
}

.mission-statement{
    display:inline-block;
    background-color: #d56f29;
    size: cover;
    width:100%;
    border: 0;
    justify-content: center;
    margin: 0;
    
}

.gap{
    padding: 0;
}


.mission-statement img{
    padding: 0;
    margin: 0;

    
}

.mission-statement .column{
    padding: 0;
    margin: 0;
    border:0;
    width: 100%;
    display: inline-block;
    flex:15%;
    align-items: center;
    justify-content: center;
    background-color: #d56f29;
}

.mission-statement div{
    width:100%;
    background-color: #d56f29;
    margin: 0;
    color: rgb(9, 2, 53);
    font-family: "poppins", sans-serif;
}



.why{
    text-transform: uppercase;
}

.booking-and-buying{
    width: 100%;
    color: rgb(9, 2, 53);
    font-family: "Poppins", sans-serif;
    padding:0 0 0 29px;

}


.book-and-buy-2{
    background-color: #fafafa;
    width: 100%;
    margin: 0;
    padding: 0 0 0 20px;
    color: rgb(9, 2, 53);
}


.booking-and-buying div{
    color: rgb(9, 2, 53);
    font-family: "Poppins", sans-serif;
    margin-top: 20px;
    padding:20px 0 0 10px;
}

.images{
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #d56f29;
    font-family: "Poppins", sans-serif;
    background-color: rgb(9, 2, 53);
}

.images .row {
    display: flex;
  }
  
.images .column {
    
    padding: 5px;
  }

.product-name{
    color: #d56f29;
}

  /*page 2 */

  .images-2{
    padding: 0 0 0 40px;
    margin: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #060300;
    font-family: "Poppins", sans-serif;
    background-color: #fafafa
  }

.images-2 .row {
        display: flex;
      }
      
.images .column {
        
padding: 5px;
}


/*pictures*/

.soh{
    height:90%;
    width:90%;
}

.method{
    height:90%;
    width: 90%;
}

.tanker{
    height: 90%;
    width: 90%;
}

.btn{
    border-radius: 5%;;
}

.images{
    
    display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

#photos{
    clear: both;
    line-height: 0; 
    column-count: 4;
    column-gap: 0;
}

footer{
    line-height: 5px;
    height:20px;
    margin: 0;
    padding: 0;
    
}

.social-networks{
        text-align: center;
        padding: 0;
        margin: 0;
        background-color: #d56f29; 
      }
      
.social-networks li{
        display:inline;
        padding: 0;
        margin: 0;
        height: 20px;
    }
      
.social-networks i {
        font-size: 160%;
        margin: 1%;
        padding: 5%;
        color: rgb(9, 2, 53);
        height:20px;
        }
